src/main/mule/b-sales-mgmt-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	<flow name="test-template-flow">
        <ee:transform doc:name="Flow Name" doc:id="b9a498c1-4573-46e3-abf8-eb9be66cdc03">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="flowName"><![CDATA[%dw 2.0
output application/java
---
'test-template-flow']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Process Entry" doc:id="209fae69-a914-4bd5-ab1e-259935f4e874" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="10bc8e84-8913-4daa-b9b0-f7ca58e029dd" name="audit-process-entry-sub-flow"/>
		<set-payload value="Template Fatface Payload" doc:name="Set Payload" doc:id="c3f9c9e3-2ba7-4d0e-8aa6-212dc15f6028" mimeType="text/plain"/>
		<flow-ref doc:name="Audit Process Exit" doc:id="12eebdd0-6fcf-4318-9d52-b4d0d109e0d7" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="f0407fdb-e254-4fe7-a46d-7cff6796409a" name="log-process-exit-sub-flow"/>
    </flow>
	<flow name="template-processing-flow" doc:id="4d6615a3-e842-477f-b6a3-da597f212fa6" >
		<set-variable value="#['template-processing-flow']" doc:name="Flow Name" doc:id="ddc15bcf-bd5e-4e88-b68d-d2cdef22e3b5" variableName="flowName" />
		<flow-ref doc:name="Log Process Entry" doc:id="af906739-ac2f-470b-94e4-2fddee8a38cf" name="log-process-entry-sub-flow" />
		
		<ee:transform doc:name="Queue Parameter" doc:id="ef828e47-f49b-499c-8bc5-c49d1bd3fa78" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="targetQueueVar" ><![CDATA[%dw 2.0
output application/java
---
p('sqs.queue.target.inventory')]]></ee:set-variable>
				<ee:set-variable variableName="targetQueueUrl" ><![CDATA[%dw 2.0
output application/java
---
p('sqs.queue.url.targetQueueUrl')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-not-null doc:name="Is Not Null" doc:id="c04bf1e0-62ce-4e57-ac78-882199bd1583" config-ref="Validation_Config" value="Not Null!!"/>
		<flow-ref doc:name="Log Process Exit" doc:id="8b8bd5c9-6fff-47c3-9621-b39830c20028" name="log-process-exit-sub-flow" />
	</flow>
	
	<flow name="common-template-inventory-flow" doc:id="bb9bfac8-d0fb-4e2f-a30a-b281ca45d512" >
		<sqs:receivemessages doc:name="Receivemessages" doc:id="2d5cce04-53d6-418d-88c0-5dea07c69e5d" config-ref="Amazon_SQS_Configuration" queueUrl="${sqs.queue.url.targetQueueUrl}">
			<reconnect frequency="${retry.frequency}" count="${retry.attempts}" />
		</sqs:receivemessages>
		<set-variable value="#['common-template-inventory-flow']" doc:name="Flow Name" doc:id="d69abf99-f2ff-4c18-becb-6b4f3f98b71b" variableName="flowName"/>
		<ee:transform doc:name="Queue Parameter" doc:id="972f2979-1aca-461c-910f-859497e41bad" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.correlationId.stringValue]]></ee:set-variable>
				<ee:set-variable variableName="transactionStartTime" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionStartTime.stringValue
]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionId.stringValue]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Receiver Entry" doc:id="a386d32b-e09b-4bde-b4b9-8563407cdaa4" name="log-receiver-entry-sub-flow" />
		<flow-ref doc:name="Log Process Entry" doc:id="59f96fe2-38ec-403f-b4dd-8ca8c5d459b0" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="e65e3c3d-f931-4d4a-ace0-d235e2068e7f" name="audit-process-entry-sub-flow"/>
		
		<flow-ref doc:name="Audit Process Exit" doc:id="0be82a3c-b354-40a9-8a8f-db26b9dc39d5" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="log Process Exit" doc:id="20d70cc1-e901-4beb-8be4-136398587045" name="log-process-exit-sub-flow" />
	</flow>
</mule>
