src/main/mule/common-reprocessing-framework.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:common-logging-extension="http://www.mulesoft.org/schema/mule/common-logging-extension"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/common-logging-extension http://www.mulesoft.org/schema/mule/common-logging-extension/current/mule-common-logging-extension.xsd">
	<flow name="queue-reprocessing-flow" doc:id="5be034fe-254d-4f7a-836e-f335ceef9a21" >
		<sqs:receivemessages doc:name="Receive messages from reprocessing Queue" doc:id="2eabe98d-292d-4bb3-8a55-40ef56ac0308" config-ref="Amazon_SQS_Configuration" queueUrl="${sqs.queue.url.reprocessingQueue}">
			<reconnect frequency="${retry.frequency}" count="${retry.attempts}" />
		</sqs:receivemessages>
		<set-variable value="queue-reprocessing-flow" doc:name="Flow Name" doc:id="7460c81f-8a8c-4cb7-8d4f-50c2373a2d0a" variableName="flowName"/>
		<ee:transform doc:name="Queue Parameter" doc:id="a8dfe333-5a21-485c-a37a-151562202a97" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.correlationId.stringValue]]></ee:set-variable>
				<ee:set-variable variableName="transactionStartTime" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionStartTime.stringValue
]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionId.stringValue]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="log Receiver Entry" doc:id="a1639311-61a1-4f5a-9434-54c7fd65ebc5" name="log-receiver-entry-sub-flow" />
		<flow-ref doc:name="Log Process Entry" doc:id="140b0a6c-3428-4277-b29f-f09c99d65850" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="c98e7fe8-266f-4eb9-be9c-95168add841b" name="audit-process-entry-sub-flow"/>
		<set-variable value="#[attributes['sqs.message.receipt.handle']]" doc:name="Set Message Receipt" doc:id="8ab88f46-320e-49b5-aef0-e526ca8badd2" variableName="messageReceipt"/>
		<choice doc:name="Choice" doc:id="05236355-51b8-43c6-993d-8d2cac9b662a" >
			<when expression="#[attributes.targetQueueUrl.stringValue != null]">
				<ee:transform doc:name="Transform Message For Target Queue" doc:id="8e624385-c4f9-42b5-bdf6-48d5337582d8">
					<ee:message>
						<ee:set-payload resource="dwl/create-target-queue-msg.dwl" />
					</ee:message>
				</ee:transform>
				<sqs:send-message doc:name="Send Message To Target Queue" doc:id="cb2114c8-3daf-4295-8ae7-d08e255a008c" config-ref="Amazon_SQS_Configuration" queueUrl="#[attributes.targetQueueUrl.stringValue]" >
					<reconnect frequency="${retry.frequency}" count="${retry.attempts}" />
				</sqs:send-message>
				<sqs:delete-message doc:name="Delete message" doc:id="661721ce-7105-435a-b2a3-fd5051f61bae" config-ref="Amazon_SQS_Configuration" receiptHandle="#[vars.messageReceipt]" queueUrl="${sqs.queue.url.reprocessingQueue}"/>
			</when>
			<otherwise>
				<set-variable value="No Target Queues defined for this message" doc:name="Set Logging Payload" doc:id="2b286829-e5c9-4cb8-9d28-9830c1f72cdf" variableName="loggingPayload"/>
				<flow-ref doc:name="Logging Message" doc:id="6ed67470-93d1-4b97-9434-13101f1a9769" name="logging-sub-flow"/>
			</otherwise>
		
</choice>
		<flow-ref doc:name="Audit Process Exit" doc:id="dba9fea7-d66b-4e95-bdbb-6a1758189112" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="0000a57c-cf9a-47aa-935d-1f5eb4efbe70" name="log-process-exit-sub-flow" />
	</flow>
</mule>
