src/main/mule/d365-scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="d365-schedulerFlow" doc:id="3bb7b46d-705d-42e3-a122-65b3c21320f2">
		<scheduler doc:name="Scheduler" doc:id="0b166167-9d22-41c7-a477-1c3f5897be0b" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.cron.fixed}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="7d43a99c-e3c3-4325-bebe-eebeb5135785" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'd365-schedulerFlow']]></ee:set-variable>
				<ee:set-variable variableName="packageName" ><![CDATA[%dw 2.0
output application/java
---
p('d365.store.packageName') ++ now() as String {format: "ddMMyyyyhhms"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Receiver Entry" doc:id="3825926c-6703-49b1-9007-c3d0abb1652f" name="log-receiver-entry-sub-flow" />
		<flow-ref doc:name="Audit Receiver Entry" doc:id="5ee2fee4-e481-40f6-a5d2-cd8005911f57" name="audit-receiver-entry-sub-flow"/>
		
		<flow-ref doc:name="Calling D365 to get Data" doc:id="9c712369-80d7-4a8c-9f55-6b54d54d75f5" name="call-d365-sub-flow"/>
		<flow-ref doc:name="Sales Management APP Flow Call" doc:id="25235ee5-c5ea-426c-909c-34bf5b71f251" name="sales-managment-app-sub-flow" />
		<flow-ref doc:name="Log Dispatcher Exit" doc:id="67e079d4-6530-4243-aa79-198d6c75203a" name="log-dispatcher-exit-sub-flow"/>
		<flow-ref doc:name="Audit Dispatcher Exit" doc:id="d3645e17-39b6-4ce8-81ae-ce610ed83327" name="audit-dispatcher-exit-sub-flow"/>
		
	</flow>
	<sub-flow name="call-d365-sub-flow" doc:id="7bd0dc4a-ba15-4337-ba31-07934d7140da" >
		<set-variable value="call-d365-sub-flow" doc:name="Flow Name" doc:id="327c428d-bc07-465e-a1a6-ac9cb51dc349" variableName="flowName"/>
		<flow-ref doc:name="Log Process Entry" doc:id="4134c691-3a0f-4188-90f4-b18fbe802cee" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="audit-process-entry-sub-flow" doc:id="a0afa6b4-72b1-470d-a6cd-6fc262c964cc" name="audit-process-entry-sub-flow"/>
		<http:request method="GET" doc:name="Invoke System Layer D365 API to Get Stores" doc:id="0dbbb798-8a9d-4ae0-888d-f7695d2b39e1" path="${d365.dmf.path}" config-ref="D365_Http_Request_configuration" responseTimeout="${response.timeout}" outputMimeType="application/json">
			<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('d365.client_id'),
	"Client-Secret" : p('d365.client_secret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"definitionGroupId" : p('d365.store.definitionGroupId'),
	"packageName" : vars.packageName
}]]]></http:query-params>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('d365.client_id'),
	"Client-Secret" : p('d365.client_secret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"definitionGroupId" : p('d365.store.definitionGroupId'),
	"packageName" : vars.packageName
}]]]></http:query-params>
		
</http:request>
		<flow-ref doc:name="Audit Process Exit" doc:id="0702e0e4-6865-48c5-b651-bf5040b327ad" name="audit-process-exit-sub-flow" />
		<flow-ref doc:name="Log Process Exit" doc:id="eeeb6bfc-fefd-4201-81ce-cf2f74c0d877" name="log-process-exit-sub-flow"/>
	</sub-flow>
</mule>
