src/main/mule/sales-managment-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="sales-managment-app-sub-flow" doc:id="188b86e8-4160-4dd3-b01c-bdf300a52b84" >
		<scheduler doc:name="Scheduler" doc:id="68d96e60-ab32-4c03-874f-bfd3009fee3d" >
			<scheduling-strategy >
				<cron expression="${scheduler.cron.expression}" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Log Reveiver Entry" doc:id="ce31eff3-60e0-4548-9e5e-5c3d00392a07" name="log-receiver-entry-sub-flow"/>
		<flow-ref doc:name="Audit Receiver Entry" doc:id="bf50e0b4-0b9f-4807-a3df-6eb08b1a3374" name="audit-receiver-entry-sub-flow"/>
		<http:request method="GET" doc:name="Invoke System Layer D365 Api to Get Stores" doc:id="23d656ed-c318-40fc-9c67-03ed077e8dd2" path="${d365.getStorePath}" config-ref="D365_Http_Request_configuration" responseTimeout="${response.timeout}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Client-Id" : "123",
	"Transaction-Id" : "abc",
	"Client-Secret" : "12345",
	"Transaction-Start-Time" : "2018-08-02T16:58:12.121Z"
}]]]></http:headers>
		</http:request>
		<choice doc:name="Choice" doc:id="30d1a4c9-3957-4c03-9017-c5e0c2590ae9" >
			<when expression="#[payload != null]">
				<ee:transform doc:name="Transform Message" doc:id="1156a448-0c85-470a-824c-ca82381b5007">
					<ee:message>
						<ee:set-payload resource="dwl/transform_d365_json_to_deamandware_request.dwl" />
					</ee:message>
				</ee:transform>
				<http:request method="PUT" doc:name="Invoke System Layer of DW Api to Put Stores" doc:id="31c8f711-ac85-4c73-868f-35142b1bcd57" config-ref="s_dw_Http_Request_configuration" path="${demandware.putStorePath}" responseTimeout="${response.timeout}"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="cc04c0b8-1335-4ce6-bd22-0b657537653e" message="p(batch.response)"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Audit Dispatcher Exit" doc:id="dddc2633-50ab-48c3-bc30-d7f811cc64e6" name="audit-process-exit-sub-flow" />
		<flow-ref doc:name="Log Dispatcher Exit" doc:id="3c3e4236-5da2-4588-8e48-e170711e90cf" name="log-process-exit-sub-flow" />
	</flow>
	
	</mule>
