src/main/mule/sales-managment-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="sales-managment-app-sub-flow" doc:id="188b86e8-4160-4dd3-b01c-bdf300a52b84" >
		<scheduler doc:name="Scheduler" doc:id="68d96e60-ab32-4c03-874f-bfd3009fee3d" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Log Process Entry" doc:id="ce31eff3-60e0-4548-9e5e-5c3d00392a07" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="bf50e0b4-0b9f-4807-a3df-6eb08b1a3374" name="audit-process-entry-sub-flow"/>
		<ee:transform doc:name="Set Headers" doc:id="7736add6-6341-4786-8bff-c55a9672c804">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="transactionStartDate"><![CDATA[%dw 2.0
output application/java
---
now() as String {format : "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"}]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="clientId" ><![CDATA[%dw 2.0
output application/java
---
p('d365.clientId')]]></ee:set-variable>
				<ee:set-variable variableName="clientSecret" ><![CDATA[%dw 2.0
output application/java
---
p('d365.clientSecret')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Invoke System Layer D365 API to Get Stores" doc:id="23d656ed-c318-40fc-9c67-03ed077e8dd2" path="${d365.getStorePath}" config-ref="D365_Http_Request_configuration" responseTimeout="${response.timeout}" outputMimeType="application/json">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Client-Id" : vars.clientId,
	"Transaction-Id" : vars.transactionId,
	"Client-Secret" : vars.clientSecret,
	"Transaction-Start-Time" : vars.transactionStartDate
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="6d1f4921-8a71-494b-a90d-688d3e6c5f5e" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="e2a189a7-7066-4c31-888b-ee2a9ed02476" >
			<when expression="#[payload != null]">
				<ee:transform doc:name="Transform Message" doc:id="ae02ecf2-8211-4843-bb5b-7ee8d45ea2be">
					<ee:message>
						<ee:set-payload resource="dwl/transform_d365_json_to_deamandware_request.dwl" />
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="5c6c8601-7ce3-4bc5-b0d5-a1837108bc88" message="#[payload]"/>
				<http:request method="PUT" doc:name="Invoke System Layer of DW API to Put Stores" doc:id="ea1df148-5e08-4e6e-86e3-9e9fec05c743" config-ref="s_dw_Http_Request_configuration" path="${demandware.putStorePath}" responseTimeout="${response.timeout}">
					<http:headers ><![CDATA[#[output application/java
---
{
	"Client-Id" : "1234",
	"Client-Secret" : "1234"
}]]]></http:headers>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="585ff77a-b7b2-40ad-9314-0e9815784aa3" message="#[payload]"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="e9e30a6c-a3ec-4ad1-bd55-642d30f68ada" message="p(batch.response)"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Audit Process Exit" doc:id="dddc2633-50ab-48c3-bc30-d7f811cc64e6" name="audit-process-exit-sub-flow" />
		<flow-ref doc:name="Log Process Exit" doc:id="3c3e4236-5da2-4588-8e48-e170711e90cf" name="log-process-exit-sub-flow" />
	</flow>
	
	</mule>
